* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
	display: block;
}

.link-return {
	border-color: #222222;
	background-color: #eeeeee;
	border-radius: 0px 5px 5px 5px;
	top: 50%;
	color: #333333;
	padding: 3px 20px;
	font-size:14px;
	text-align: center;
	display: inline-block;
}
.link-retornar {
	border-color: #222222;
	background-color: #eeeeee;
	border-radius: 0px 5px 5px 5px;
	top: 50%;
	color: #333333;
	padding: 3px 20px;
	font-size: 14px;
	text-align: center;
	display: inline-block;
}


header {
	min-height: 500px;
	/* 
Usado com permissão da licensa Unsplash: https://unsplash.com/license
Criadores da imagem: https://unsplash.com/@socialcut
Link original da imagem: https://unsplash.com/photos/1RT4txDDAbM
Link puro: https://images.unsplash.com/photo-1571624436279-b272aff752b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80
*/
	background-image:
		url("https://images.unsplash.com/photo-1571624436279-b272aff752b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
}

body {
	background-color: #111111;
	color: #eeeeee;
}

#logo {
	color: #ffffff;
	line-height: 70px;
	text-align: left;
	text-shadow: 0px 0px 10px #000000;
	font-weight: bold;
	font-size: 40px;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}

#registro {
	text-align: right;
	border-radius: 10px;
	background-color: #000000af;
	box-shadow: 0px 0px 25px #000000;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	width: 295px;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/* Ferramenta incrível para se criar o código de animações, do básico ao avançado! Muito útil. */
.animacao-formulario {
	animation: animacao-formulario 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
@keyframes animacao-formulario {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(70px);
  }
}

.animacao-logo {
	animation: animacao-logo 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
@keyframes animacao-logo {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(40px);
  }
}

#registro button {
	width: 100%;
	border: none;
	border-radius: 5px;
	background-color: #C17736;
	color: #ffffff;
	padding: 10px;
	font-size: 16px;
}

.campo {
	border: none;
	margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	border-radius: 4px;
}
/*
Ao remover comentário, o input (Área de digitação do usuário ficará colorida
com a cor verde escuro caso o que o usuário digitar for válido, ou com a cor
vermelho escuro caso o que o usuário digitar for inválido.

input:valid {
	box-shadow: 0 0 5px 1px darkgreen;
}

input:invalid {
	box-shadow: 0 0 5px 1px darkred;
}
*/

.corpo {
	color: #eeeeee;
	max-width: 960px;
	margin: auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
}

footer {
	color: #eeeeee;
	background-color: #383838;
	max-width: 960px;
	margin: auto;
	display: flex;
	line-height: 35px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
}